* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 249, 239);
}

main {
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* prevents blur from leaking out */
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/generated-item3.png");
    background-size: cover;
    background-position: center;
    filter: blur(8px);        /* <<< blur amount */
    transform: scale(1.1);     /* prevents blurry edges */
    z-index: -1;               /* make it stay behind content */
}


div#wrapper {
    gap: 25px;
    display: flex;
    flex-direction: column;

    padding: 30px;
    width: 500px;
    height: 570px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

div#wrapper>h1#header {
    align-self: center;
    margin-top: 10px;
}

div#wrapper>p#header-text {
    text-align: center;
}

div#conversion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


div#enter-amount,
div#conversion > div {
    width: 100%;    /* make each inner block stretch full width */
}

input {
    border: none;
    background-color: rgba(255, 255, 255, 0.328);
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

button {
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 0, 0, 0.675);
    padding: 20px;
    cursor: pointer;
}

.user-select {
    user-select: none;
}